<template>
  <v-app>
    <v-container fluid>
      <component :is="layout">
        <transition
          name="fade"
          mode="out-in"
        >
          <router-view />
        </transition>
      </component>
    </v-container>
  </v-app>
</template>

<script>
  const defaultLayout = 'default';

  export default {
    name: 'App',
    data() {
      return {};
    },
    computed: {
      layout() {
        return (this.$route.meta.layout || defaultLayout) + '-layout';
      },
    },
  }
</script>

<style lang="scss">
  @import "assets/scss/app.scss";
</style>
