// Font sizes

.font-size-xlg {
  font-size: 1.3rem !important;
}

.font-size-md {
  font-size: .9rem !important;
}

.font-size-lg {
  font-size: 1.1rem !important;
}

// Font size

.fsize-1 {
  font-size: .95rem !important;
}

.fsize-2 {
  font-size: 1.3rem !important;
}

.fsize-3 {
  font-size: 1.6rem !important;
}

.fsize-4 {
  font-size: 2rem !important;
}
