/*Height*/
$num: 25;
@while $num < 801 {
  .h-#{$num}p {
    height: $num +0px !important;
  }
  $num: $num +5;
}

$num: 25;
@while $num < 101 {
  .h-#{$num} {
    height: $num +0% !important;
  }
  $num: $num +5;
}

/*Max Height*/
$num: 100;
@while $num < 801 {
  .mh-#{$num}p {
    max-height: $num +0px !important;
  }
  $num: $num +25;
}

/*Min Height*/
$num: 100;
@while $num < 801 {
  .mnh-#{$num}p {
    min-height: $num +0px !important;
  }
  $num: $num +25;
}
