<template>
    <v-flex id="dashboard">
        <v-data-table
                :headers="headers"
                :items="users"
                :options.sync="options"
                :server-items-length="totalUsers"
                :items-per-page="5"
                :loading="loading"
                class="elevation-1"
        >
            <template v-slot:top>
                <v-toolbar flat color="white">
                    <v-toolbar-title>My CRUD</v-toolbar-title>
                    <v-divider
                            class="mx-4"
                            inset
                            vertical
                    ></v-divider>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn
                                    color="primary"
                                    dark
                                    class="mb-2"
                                    v-bind="attrs"
                                    v-on="on"
                            >New Item
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.firstName"
                                                          label="First Name"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.lastName"
                                                          label="Last Name"></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" md="4">
                                            <v-text-field v-model="editedItem.email" label="E-mail"></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                                <v-btn color="blue darken-1" text @click="save">Save</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </template>
            <template v-slot:item.actions="{ item }">
                <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                >
                    mdi-pencil
                </v-icon>
                <v-icon
                        small
                        @click="deleteItem(item)"
                >
                    mdi-delete
                </v-icon>
            </template>
            <template v-slot:no-data>
                <v-btn color="primary" @click="initialize">Reset</v-btn>
            </template>
        </v-data-table>
    </v-flex>
</template>

<script>

    export default {
        name: 'Dashboard',
        components: {},
        data() {
            return {
                dialog: false,
                headers: [
                    {
                        text: '# Id',
                        align: 'start',
                        sortable: false,
                        value: 'id',
                    },
                    {
                        text: 'First Name',
                        value: 'firstName'
                    },
                    {
                        text: 'Last Name',
                        value: 'lastName'
                    },
                    {
                        text: 'Email',
                        value: 'email'
                    },
                    {
                        text: 'Actions',
                        value: 'actions',
                        sortable: false
                    }
                ],
                users: [],
                editedIndex: -1,
                editedItem: {
                    id: null,
                    firstName: '',
                    lastName: '',
                    email: '',
                },
                defaultItem: {
                    id: null,
                    firstName: '',
                    lastName: '',
                    email: '',
                },
                loading: true,
                options: {},
                totalUsers: 1,
            }
        },
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
            },
        },
        watch: {
            dialog(val) {
                val || this.close()
            },
            options: {
                handler() {
                    this.initialize()
                        .then(response => {
                            this.users = response.data.rows
                            this.totalUsers = response.data.count
                        })
                        .finally(() => {
                            this.loading = false;
                        });
                },
                deep: true,
            },
        },
        methods: {
            initialize() {
                this.loading = true;
                const {sortBy, sortDesc, page, itemsPerPage} = this.options;
                return this.$http.get('/users/getAll', {
                    params: {
                        sortBy,
                        sortDesc,
                        page,
                        itemsPerPage
                    }
                });
            },
            editItem(item) {
                this.editedIndex = this.users.indexOf(item);
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },
            deleteItem(item) {
                const index = this.users.indexOf(item);
                if(confirm('Are you sure you want to delete this item?')) {
                    return this.$http.post('/users/delete', this.users[index])
                        .then((response) => {
                            if (response.data) this.users.splice(index, 1)
                        });
                }
            },
            close() {
                this.dialog = false
                this.$nextTick(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                })
            },
            save() {
                let userPromise = null;
                if (this.editedIndex > -1) {
                    userPromise = this.updateUser(this.users[this.editedIndex], this.editedItem)
                } else {
                    userPromise = this.addNewuser(this.editedItem);
                }

                userPromise.then(() => {
                    this.close();
                })
            },
            updateUser(userOldInfo, userUpdatedInfo) {
                return this.$http.post('/users/update', {
                    userOldInfo,
                    userUpdatedInfo,
                }).then((response) => {
                    if(response.data[0]) Object.assign(this.users[this.editedIndex], this.editedItem)
                });
            },
            addNewuser(userInfo) {
                return this.$http.post('/users/add', userInfo)
                        .then((response) => {
                            this.users.push(response.data)
                        });
            },
        }
    }
</script>
